h2 {
    font-family: 'Special Elite', cursive;
    font-weight: 400;
    font-size: 50px;
    color: #000;
}

h3{
    font-family: 'Special Elite', cursive;
    font-weight: 350;
    font-size: 26px;
    color: #000;
    margin-left: 1em;
}

section p {
    max-width: 500px;
    margin: 0 auto;
    /*padding: 10px;*/
    color: #000;
}
p {
    font-family: 'Architects Daughter', cursive;
    font-size: 20px;
    color: #000;
}

nav {
    font-family: "Trebuchet MS", Helvetica, sans-serif;
    background-color: #e6e6ff;
    text-align: left;
    margin-top: 16px;
}


